@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-100deg);
  }
}
.section-articulos {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}

.articulos__container {
  max-width: 1440px;
  margin-top: 182px;
  position: relative;
  margin-bottom: 205px;
}

.articulos__line-bg {
  top: 1265px;
}

h2 {
  font-family: Archivo;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: rgb(27, 31, 33);
  margin-bottom: 14px;
}

p {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: rgb(117, 119, 120);
  margin-bottom: 18px;
}

img {
  width: 100%;
}

.articulos__line {
  width: 100vw;
  height: 120px;
  padding: 0px 35px 0px 32px;
  transform: rotate(-4deg);
  margin: 0 auto;
  background-color: rgb(172, 214, 222);
  overflow: hidden;
  white-space: nowrap;
}

.articulos__line b {
  padding-left: 100%;
  display: inline-block;
  margin: 0 auto;
  font-family: Archivo;
  font-size: 58px;
  font-weight: 900;
  line-height: 69.6px;
  letter-spacing: 0.01em;
  padding: 25px;
  animation: marquee 9s linear infinite;
  overflow: hidden;
}

.articulos__line b svg {
  vertical-align: middle;
}

.articulos__carrera {
  display: flex;
}

.articulos__carrera-fashion-img {
  position: relative;
  max-width: 584px;
  height: 328px;
  margin-right: 20px;
}

.articulos__carrera-fashion:hover .articulos__carrera-fashion-img img:last-child {
  animation: rotate 1s linear infinite;
}

.articulos__carrera-fashion-img img:first-child {
  -webkit-mask-image: url(../masks/Mask_fashion.svg);
          mask-image: url(../masks/Mask_fashion.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0 20px;
          mask-position: 0 20px;
}

.articulos__carrera-fashion-img img:last-child {
  position: absolute;
  top: -30px;
  left: -40px;
  width: 31%;
  transition: all 0.5s ease;
}

.articulos__carrera-fashion-info {
  margin: 60px 0 25px 0;
}

.articulos__carrera-fashion-info-list {
  display: flex;
  align-items: center;
}

.articulos__carrera-fashion-info-item {
  color: rgb(144, 238, 203);
  cursor: pointer;
}

.articulos__carrera-fashion-info-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(144, 238, 203);
  margin-right: 16px;
  color: rgb(27, 31, 33);
  cursor: pointer;
}

.articulos__carrera-designer {
  padding-left: 20px;
}

.articulos__carrera-designer:hover .articulos__carrera-designer-img img:last-child {
  animation: rotate 1s linear infinite;
}

.articulos__carrera-designer-img {
  position: relative;
  max-width: 584px;
  height: 328px;
}

.articulos__carrera-designer-img img:first-child {
  -webkit-mask-image: url(../masks/Mask_designer.svg);
          mask-image: url(../masks/Mask_designer.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0 20px;
          mask-position: 0 20px;
}

.articulos__carrera-designer-img img:last-child {
  position: absolute;
  top: -29px;
  right: -40px;
  width: 31%;
  transition: all 0.5s ease;
}

.articulos__carrera-designer-info {
  margin: 60px 0 25px 0;
}

.articulos__carrera-designer-info-list {
  display: flex;
  align-items: center;
  max-width: 277px;
}

.articulos__carrera-designer-info-item {
  color: rgb(236, 149, 177);
  cursor: pointer;
}

.articulos__carrera-designer-info-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(236, 149, 177);
  margin-right: 16px;
  color: rgb(27, 31, 33);
  cursor: pointer;
}

.articulos__carrera-designer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 749px;
}

.articulos__carrera-designer2-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulos__carrera-designer2:hover .articulos__carrera-designer2-img img:last-child {
  animation: rotate 1s linear infinite;
}

.articulos__carrera-designer2-img img:first-child {
  -webkit-mask-image: url(../masks/Mask_designer2.svg);
          mask-image: url(../masks/Mask_designer2.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0 135px;
          mask-position: 0 135px;
}

.articulos__carrera-designer2-img img:last-child {
  position: absolute;
  top: 85px;
  right: -40px;
  width: 15%;
  transition: all 0.5s ease;
}

.articulos__carrera-designer2-infomation {
  position: relative;
  right: -30px;
  top: -100px;
  display: flex;
  gap: 19px;
  min-height: 181px;
}

.articulos__carrera-designer2-information-list {
  max-width: 376px;
  padding-top: 26px;
}

.articulos__carrera-designer2-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 22px;
  margin-bottom: 24px;
}

.articulos__carrera-designer2-info-item {
  color: rgb(236, 149, 177);
  cursor: pointer;
}

.articulos__carrera-designer2-info-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(236, 149, 177);
  color: rgb(27, 31, 33);
  cursor: pointer;
}

.articulos__carrera-designer2-info-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  font-family: Nunito;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(174, 174, 174);
}

.articulos__carrera-designer2-info-time span svg {
  vertical-align: middle;
}

.articulos__carrera-designer2-info-text {
  max-width: 792px;
}

.articulos__carrera-designer2-info-text h2 {
  font-family: Archivo;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: left;
  margin-bottom: 8px;
}

.articulos__rebranding {
  display: flex;
  margin-top: 18px;
}

.articulos__rebranding-marketing:hover .articulos__rebranding-marketing-img img:last-child {
  animation: rotate 1s linear infinite;
}

.articulos__rebranding-marketing-img {
  position: relative;
  max-width: 584px;
  height: 328px;
  margin-right: 20px;
}

.articulos__rebranding-marketing-img img:first-child {
  -webkit-mask-image: url(../masks/Mask_marketing.svg);
          mask-image: url(../masks/Mask_marketing.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.articulos__rebranding-marketing-img img:last-child {
  position: absolute;
  top: -75px;
  left: -55px;
  width: 46%;
  transition: all 0.5s ease;
}

.articulos__rebranding-marketing-info {
  margin: 40px 0 25px 0;
}

.articulos__rebranding-marketing-info-list {
  display: flex;
  align-items: center;
}

.articulos__rebranding-marketing-info-item {
  color: rgb(255, 173, 32);
  cursor: pointer;
}

.articulos__rebranding-marketing-info-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(255, 173, 32);
  margin-right: 16px;
  color: rgb(27, 31, 33);
  cursor: pointer;
}

.articulos__rebranding-autocad {
  padding-left: 20px;
}

.articulos__rebranding-autocad-img {
  position: relative;
  max-width: 584px;
  height: 328px;
}

.articulos__rebranding-autocad:hover .articulos__rebranding-autocad-img img:last-child {
  animation: rotate 1s linear infinite;
}

.articulos__rebranding-autocad-img img:first-child {
  -webkit-mask-image: url(../masks/Mask_software..svg);
          mask-image: url(../masks/Mask_software..svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.articulos__rebranding-autocad-img img:last-child {
  position: absolute;
  top: -50px;
  right: -40px;
  width: 31%;
  transition: all 0.5s ease;
}

.articulos__rebranding-autocad-img img:last-child:hover {
  transform: rotate(-100deg);
}

.articulos__rebranding-autocad-info {
  margin: 40px 0 25px 0;
}

.articulos__rebranding-autocad-info-list {
  display: flex;
  align-items: center;
}

.articulos__rebranding-autocad-info-item {
  color: rgb(172, 214, 222);
  cursor: pointer;
}

.articulos__rebranding-autocad-info-link {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: rgb(172, 214, 222);
  margin-right: 16px;
  color: rgb(27, 31, 33);
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .articulos__container {
    padding: 0 32px;
  }
  h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .articulos__carrera-designer2-info-text h2 {
    font-size: 26px;
    line-height: 31.2px;
  }
  .articulos__carrera-fashion-img img:last-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18%;
  }
  .articulos__carrera-designer-img img:last-child {
    top: 0;
    right: 0;
    width: 18%;
  }
  .articulos__carrera-designer2-img img:last-child {
    top: 130px;
    right: 10px;
    width: 15%;
  }
  .articulos__carrera-designer2-infomation {
    position: static;
  }
  .articulos__rebranding-marketing-img img:last-child {
    top: 0;
    left: 70%;
    width: 20%;
  }
  .articulos__rebranding-autocad-img img:last-child {
    top: 0;
    right: 30px;
    width: 18%;
  }
}
@media screen and (max-width: 1000px) {
  .articulos__carrera {
    max-width: 704px;
    margin: 0 auto;
  }
  .sticky span {
    position: sticky;
  }
  .articulos__carrera-fashion {
    max-width: 340px;
  }
  .articulos__carrera-fashion h2 br {
    display: none;
  }
  .articulos__carrera-fashion br,
  .articulos__carrera-designer p br {
    display: none;
  }
  .articulos__carrera-fashion-img,
  .articulos__carrera-designer-img {
    margin: 0;
    height: 226px;
  }
  .articulos__carrera-fashion-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_fashion2.svg);
            mask-image: url(../masks/Mask_fashion2.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0 -1px;
            mask-position: 0 -1px;
  }
  .articulos__carrera-fashion-img img:last-child {
    top: 6px;
    left: 228px;
    width: 30.8%;
  }
  .articulos__carrera-fashion-info,
  .articulos__carrera-designer-info {
    margin: 29px 0 25px 0;
  }
  .articulos__carrera-designer {
    padding-left: 24px;
  }
  .articulos__carrera-designer-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_designer1.2.svg);
            mask-image: url(../masks/Mask_designer1.2.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0 -1px;
            mask-position: 0 -1px;
  }
  .articulos__carrera-designer-img img:last-child {
    top: 6px;
    right: 7px;
    width: 30.8%;
  }
  .articulos__carrera-designer2 {
    max-width: 704px;
    margin: 0 auto;
  }
  .articulos__carrera-designer2-img {
    max-width: 704px;
  }
  .articulos__carrera-designer2-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_desinger2.2.svg);
            mask-image: url(../masks/Mask_desinger2.2.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0 82px;
            mask-position: 0 82px;
  }
  .articulos__carrera-designer2-img img:last-child {
    top: 90px;
    right: 8px;
    width: 17%;
  }
  .articulos__carrera-designer2-img img {
    margin: 0 auto;
  }
  .articulos__carrera-designer2-infomation h2 {
    width: 461px;
  }
  .articulos__carrera-designer2-infomation {
    position: relative;
    top: -44px;
    left: 50px;
    width: 704px;
    display: flex;
    gap: 25px;
  }
  .articulos__carrera-designer2-information-list {
    max-width: 219px;
    padding: 9px 0px 0 0;
  }
  .articulos__carrera-designer2-info-text {
    max-width: 461px;
  }
  .articulos__carrera-designer2-info-text h2 {
    font-size: 26px;
    line-height: 31.2px;
  }
  .articulos__carrera-designer2-info-text br {
    display: none;
  }
  .articulos__rebranding {
    max-width: 704px;
    margin: 0 auto;
    margin-top: 29px;
    margin-bottom: 285px;
  }
  .articulos__rebranding-autocad,
  .articulos__rebranding-marketing {
    max-width: 345px;
  }
  .articulos__rebranding-marketing-img,
  .articulos__rebranding-autocad-img {
    margin: 0;
    height: 226px;
  }
  .articulos__rebranding-marketing-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_marketing1.svg);
            mask-image: url(../masks/Mask_marketing1.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0 -8px;
            mask-position: 0 -8px;
  }
  .articulos__rebranding-marketing-img img:last-child {
    top: -19px;
    left: 179px;
    width: 48%;
    transform: rotate(15deg);
  }
  .articulos__rebranding-marketing-info,
  .articulos__rebranding-autocad-info {
    margin: 23px 0 23px 0;
  }
  .articulos__rebranding-autocad {
    padding-left: 24px;
  }
  .articulos__rebranding-autocad-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_autocad1.svg);
            mask-image: url(../masks/Mask_autocad1.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0 -8px;
            mask-position: 0 -8px;
  }
  .articulos__rebranding-autocad-img img:last-child {
    top: -2px;
    right: -8px;
    width: 34%;
  }
  .articulos__rebranding-marketing h2 br {
    display: none;
  }
  .articulos__rebranding-autocad br,
  .articulos__rebranding-marketing p br {
    display: none;
  }
  .section__articulos {
    margin: 93px 0;
  }
  .articulos__line {
    height: 80px;
    transform: rotate(-3deg);
  }
  .articulos__line b {
    padding: 15px;
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (max-width: 750px) {
  .articulos__carrera-designer2-infomation {
    width: auto;
    top: 0;
    right: 0;
  }
  .articulos__rebranding {
    margin-top: 50px;
  }
}
@media screen and (max-width: 730px) {
  .section__articulos {
    margin: 32px auto;
  }
}
@media screen and (max-width: 700px) {
  .articulos__carrera {
    flex-direction: column;
    gap: 104px;
    margin-bottom: 104px;
  }
  .articulos__carrera-fashion {
    margin: 0 auto;
    max-width: 636px;
  }
  .articulos__carrera-fashion-img {
    width: 400px;
    height: 352px;
    margin: 0 auto;
  }
  .articulos__carrera-fashion-img img:first-child {
    position: relative;
    -webkit-mask-image: url(../masks/Mask_fashion3.svg);
            mask-image: url(../masks/Mask_fashion3.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articulos__carrera-fashion-img img:last-child {
    width: 40%;
    top: px;
    left: 0px;
  }
  .articulos__carrera-designer {
    min-height: 679px;
  }
  .articulos__carrera-designer-img {
    width: 400px;
    height: 352px;
    margin: 0 auto;
  }
  .articulos__carrera-designer-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_designer1.3.png);
            mask-image: url(../masks/Mask_designer1.3.png);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articulos__carrera-designer-img img:last-child {
    top: 0px;
    right: 0px;
    width: 40%;
  }
  .articulos__carrera-fashion-img,
  .articulos__carrera-designer-img {
    max-width: 304px;
    margin: 0 auto;
  }
  .articulos__carrera-designer {
    margin: 0 auto;
    padding: 0;
    max-width: 304px;
  }
  .articulos__carrera-designer2 {
    max-width: 100%;
  }
  .articulos__carrera-designer2-img {
    overflow: hidden;
  }
  .articulos__carrera-designer2-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_designer2.3.svg);
            mask-image: url(../masks/Mask_designer2.3.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    width: 304px;
    height: 352px;
  }
  .articulos__carrera-designer2-img img:last-child {
    width: 39%;
    top: 10px;
    left: -160px;
  }
  .articulos__carrera-designer2-infomation {
    flex-direction: column;
    margin: 15px 0 133px 0;
  }
  .articulos__carrera-designer2-infomation h2 {
    width: 304px;
  }
  .articulos__carrera-designer2-info-list {
    flex-direction: row;
    align-items: center;
    width: 304px;
  }
  .articulos__rebranding {
    flex-direction: column;
    margin: 0 auto;
    max-width: 636px;
    gap: 104px;
  }
  .articulos__rebranding-autocad,
  .articulos__rebranding-marketing {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .articulos__rebranding-autocad-img,
  .articulos__rebranding-marketing-img {
    max-width: 400px;
    height: 352px;
    margin: 0 auto;
  }
  .articulos__rebranding-marketing-img {
    position: relative;
    overflow: hidden;
  }
  .articulos__rebranding-marketing-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_marketing2.svg);
            mask-image: url(../masks/Mask_marketing2.svg);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: 0px 0px;
            mask-position: 0px 0px;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-mask-size: cover;
            mask-size: cover;
  }
  .articulos__rebranding-marketing-img img:last-child {
    left: 125px;
    top: -10px;
    width: 60%;
  }
  .articulos__rebranding-autocad-img img:first-child {
    -webkit-mask-image: url(../masks/Mask_autocad3.png);
            mask-image: url(../masks/Mask_autocad3.png);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articulos__rebranding-autocad-img img:last-child {
    width: 40%;
    left: 7px;
    top: 5px;
  }
}
@media screen and (max-width: 650px) {
  .articulos__container {
    padding: 0 8px;
  }
  .articulos__line {
    transform: rotate(-4deg);
  }
  .articulos__container {
    margin-top: 169px;
  }
  .articulos__carrera-fashion p,
  .articulos__carrera-designer p {
    margin-bottom: 15px;
  }
  .articulos__carrera-designer2-info-time {
    flex-direction: row;
    position: absolute;
    bottom: -20px;
  }
  .articulos__carrera-designer2-infomation {
    gap: 0;
    position: relative;
    top: 10px;
    left: 0;
  }
  .articulos__rebranding-marketing-info-list,
  .articulos__rebranding-marketing-info-list {
    margin: 28px 0 22px 0;
  }
  .articulos__container {
    margin-bottom: 137px;
  }
}