@font-face {
  font-family: Nunito;
  src: url(../fons/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: Archivo;
  src: url(../fons/Archivo_Black/ArchivoBlack-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

img {
  width: 100%;
}

body {
  background-color: rgba(252, 250, 249, 0.9);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 10;
}

.header {
  font-family: Nunito;
  max-width: 1440px;
  height: 72px;
  padding: 14px 32px;
  margin: 0 auto;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo-img {
  cursor: pointer;
}

.header__logo-img:hover {
  fill: rgb(218, 51, 105);
}

.header__nav {
  overflow: hidden;
}

.heder__nav-list {
  display: flex;
  justify-content: space-between;
  width: Hug 694px px;
  height: Hug 37px px;
  gap: 10px;
}

.header__nav-item {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  padding: 7px 18px;
  border: 1.2px solid rgb(232, 232, 232);
  border-radius: 20px;
  background-color: rgba(252, 250, 249, 0.9);
}

.header__nav-link {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__nav-item:nth-child(1).header__nav-item:hover {
  background-color: rgb(236, 149, 177);
}

.header__nav-item:nth-child(2).header__nav-item:hover {
  background-color: rgb(164, 204, 254);
}

.header__nav-item:nth-child(3).header__nav-item:hover {
  background-color: rgb(190, 219, 57);
}

.header__nav-item:nth-child(4).header__nav-item:hover {
  background-color: rgb(255, 173, 32);
}

.header__nav-item:nth-child(5).header__nav-item:hover {
  background-color: rgb(172, 214, 222);
}

.header__nav-item:nth-child(6).header__nav-item:hover {
  background-color: rgb(174, 223, 214);
}

.header__ebac {
  gap: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__ebac p {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.header__ebac-img {
  cursor: pointer;
}

.header__ebac-text {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
.header__ebac-text::before {
  content: "";
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  position: absolute;
  width: 100%;
  height: 1px;
  border-top: 1.5px solid rgb(190, 219, 57);
  top: 100%;
  left: 0;
  pointer-events: none;
}
.header__ebac-text:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 1000px) {
  .header-container {
    gap: 20px;
  }
}
@media screen and (max-width: 893px) {
  .header__nav {
    flex-shrink: 0;
    order: 1;
  }
}
@media screen and (max-width: 670px) {
  .header-container {
    overflow: hidden;
  }
  .header {
    padding: 7px 8px;
  }
  .heder__nav-list {
    gap: 8px;
  }
}